<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button color="primary" [routerLink]="['/products/add' ]"><ion-icon name="add"></ion-icon>Nuevo</ion-button>
    </ion-buttons>
    <ion-title> Catalogo </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div id="container">
    <ion-card *ngFor="let product of products">
      <ion-item>
        <ion-icon name="checkmark-outline"></ion-icon>
        <ion-label>{{ product.nombre}}</ion-label>
      </ion-item>
      <ion-card-content>
        {{ product.descripcion }}

        <br />
        <div *ngFor="let provedor of product.proveedor">
          <p>Fabricado: {{ provedor.nombre }}</p>
          <p>Numero: {{ provedor.numero}}</p>
        </div>

        <ion-button color="primary" fill="outline" slot="end" (click)="view(product.codigo)"
          ><ion-icon name="eye-outline"></ion-icon>View</ion-button
        >
        <ion-button color="danger" fill="outline" slot="end" (click)="delete(product.codigo)"
          >Delete</ion-button
        >
        <ion-button color="success" fill="outline" slot="end" (click)="update(product.codigo)"
          >Update</ion-button
        >
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
